<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>
            Elementy szablonu
        </title>
    </head>
    <body>
        <div style="background: yellow ; width:100% ; height: 40px" th:fragment="header">
            <h1>TU JEST MIEJSCE NA NAGŁÓWEK </h1>
        </div>

        <div style="background: green ; width: 100%; height: 30px" th:fragment="footer">
            <h1>TU JEST MIEJSCE NA STOPKĘ</h1>
        </div>
    </body>
</html>