<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
  <div layout:fragment="content">
    <h1>FIRMA WIDELCZYK</h1>
    <p>Nasza firma zajmuje się produkcją widelców na zamówienie! Zamów Panie/Panno swój wymarzony sztuciec! <br>
    Produkujemy je z czego sobie tylko dusza zapragnie - od plastiku do złota. Jeśli masz jakieś pytania, to napisz do nas.
    </p>
    <a th:href="@{form}"> FORMULARZ KONTAKTOWY</a>
  </div>
</html>